extends layout

block content
  .container(data-ng-controller='CallsController')
    .page-header
    .row
      .col-md-offset-1.col-md-10
        .video.panel.panel-default
          .panel-heading
            h3.panel-title= contact.name
          .panel-body
            video#camera.camera(autoplay='')
          .panel-footer
            .actions.row
              button.btn.btn-danger.hang-up()
                i.fa.fa-phone
                .text Hang Up
              button.btn.btn-default.fullscreen.pull-right
                i.fa.fa-expand
                .text Full Screen
