.search input[type="text"] {
    width: 100%;
}

.search button {
    width: 100%;
}

.media {
    padding: 2px;
}

.media li {
    list-style: none;
    border: 1px solid rgb(173, 173, 173);
    padding: 4px;
    border-radius: 4px;
    margin: 10px 0;
}

.media li .title {
    font-size: 80%;
}

.jp-audio {
    position: relative;
}

.jp-progress {
    height: 16px;
    background-color: rgba(27, 175, 255, 0.24);
}

.jp-progress .jp-seek-bar .jp-play-bar {
    height: 16px;
    background-color: #666;
    position: absolute;
}

.mark {
    width: 4px;
    height: 16px;
    background-color: #3276b1;
    margin-left: -2px;
    position: absolute;
    cursor: pointer;
}

.player-controls {
    margin-top: 10px;
    margin-left: 0;
}

.call-record{
    margin-top: 15px;
}

.jp-time-holder {
    font-size: 70%;
}

.bundle-title {
    font-size: 80%;
    font-weight: bold;
    clear: both;
}

.clear {
    clear: both;
}

.jp-time-holder {
    margin-top: 10px;
}